
*{
    margin: 0;
    
}

:root {
    --primary: 237, 94%, 81%;
    --background: 266, 16%, 92%;
    --background-secondary: 256, 12%, 12%;
    --background-secondary-dark: 256, 10%, 10%;
    --background-secondary-light: 257, 11%, 16%;
    --text-primary: 0, 0%, 0%;
    /* Colors */
    --black: 0, 0%, 0%;
    --white: 0, 0%, 100%;
    --quite-gray: 0, 0%, 50%;
    --grooble: 10, 28%, 93%;
}

.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flexbox-col-left-ns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.flexbox-col-start-center {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
/* Spacings */
.flexbox-space-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* =========
    Classes
   ========= */

.view-width {
    width: 70%;
}

/* ========
    Navbar
   ======== */

#navbar {
    top: 0;
    padding: 0;
    width: 5em;
    height: 100vh;
    position: fixed;
    background-color: hsl(var(--background-secondary));
    transition: width .35s cubic-bezier(var(--transition-main), 1);
    overflow-y: auto;
    overflow-x: hidden;
}
#navbar:hover {
    width: 16em;
}
#navbar::-webkit-scrollbar-track {
    background-color: hsl(var(--background-secondary));
}
#navbar::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--background-secondary));
}
#navbar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
}
.navbar-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* Navbar Logo */
.navbar-logo {

    width: 100%;
    height: 90px;
    background-color: rgb(250, 250, 250);
    justify-content: center;
    align-items: center;

}
.navbar-logo > .navbar-item-inner {
    width: calc(8rem - 8px);
}
.navbar-logo > .navbar-item-inner:hover {
    background-color: transparent;
}

/* Navbar Items */
.navbar-item {
    padding: 0 .5em;
    width: 100%;
    cursor: pointer;
}
.navbar-item-inner {
    padding: 1em 0;
    width: 100%;
    position: relative;
    color: hsl(var(--quite-gray));
    border-radius: .25em;
    text-decoration: none;
    transition: all .2s cubic-bezier(var(--transition-main), 1);
}
.navbar-item-inner:hover {
    color: hsl(var(--white));
    background: hsl(var(--background-secondary-light));
    box-shadow: 0 17px 30px -10px hsla(var(--black), .25);
}
.navbar-item-inner-icon-wrapper {
    width: calc(5rem - 1em - 8px);
    position: relative;
}

.link-text {
    margin: 0;
    width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .35s cubic-bezier(var(--transition-main), 1);
    overflow: hidden;
    opacity: 0;
}
#navbar:hover .link-text {
    width: calc(100% - calc(5rem - 8px));
    opacity: 1;
}

#main {
    margin: 0 0 0 5em;
    min-height: 150vh;
}
#main > h2 {
    width: 80%;
    max-width: 80%;
}
#main > p {
    width: 80%;
    max-width: 80%;
}

    
.buscar{
    display: flex; 
    justify-content: flex-end;
    flex-flow: row wrap;
}    
    

.buscar input{

width: 240px;
height: 40px;
padding: 0 20px;
font-size: 18px;
color:black;
border-radius: 30px;

}

/* formulario de registro*/



body{

    background-image: url('img1.jpg');
    overflow: scroll;
    
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}


.form-registro{

    width: 400px;
    background: #232323;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    color: white;
    box-shadow: 7px 13px 37px rgb(150, 67, 67);
  
    
    
}

.form-registro h3{

    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
   
}


.informacion{
width: 100%;
background: #232323;
padding: 10px;
border-radius: 5px;
margin-bottom: 16px;
color: white;

}

.form-registro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 20px ;
}

.form-registro a{
    color: white;

}

.form-registro .btn {

    width: 100%;
    background: #ac1414;
    border: none;
    padding: 12px;
    color: white;
    margin-left: 16 0;
    justify-content: center;
    margin-left: 124px;
    border-radius: 10%;

}


/* login*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.login{
    width: 400px;
    background: #232323;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    color: white;
    box-shadow: 7px 13px 37px #000;

}

.login h3{

    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    
}

.ab{
    width: 100%;
    background: #232323;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    color: white;
    margin-bottom:40px ;
   
    
    }

    .login a{
        color: white;
        
    
    }

    .login .btn{

        width: 100%;
        background: #ac1414;
        border: none;
        padding: 12px;
        color: white;
        margin-left: 16 0;
        margin-left: 124px;
        border-radius: 10%;
    
    }

    /*index*/

    
.titulo{
    text-align: center;
    top: 20%;
    font-size: 40px;

}

    
    .texto1{

        width: 85%;
        height: 30%;
        position:absolute ;
        top: 20%;
        left: 12%;
        font-size: 20px;
        

    }

    .img2{
       
        width: 80%;
        height: 50%;
        position:absolute ;
        top: 33%;
        left: 20%;
         border: radius 70%; 

        
    }

    .ventajas{

        width: 80%;
        height: 30%;
        position:absolute ;
        top: 80%;
        left: 12%

    }
     .txtventajas{

        width: 80%;
        height: 30%;
        position:absolute ;
        top: 88%;
        left: 12%;
        font-size: 20px;
     }

     .videoindex{

        position:absolute ;
        top: 125%;
        left: 35%;

     }

     /*acerca de nosotros*/
         
.titulo2{
    text-align: center;
    top: 20%;
    font-size: 40px;

}
.nosotros{
    width: 55%;
    height: 50%;
    position:absolute ;
    top: 20%;
    left: 15%;
     font-size: 20px;
}

.contactanos{

    background-color:   #ec3333;
    width: 20%;
    height: 58%;
    position:absolute ;
    top: 20%;
    left: 75%;
     font-size: 20px;
     box-shadow: 7px 13px 37px #000;
}
     
.fb{

    width: 4%;
    height: 8%;
    position:absolute ;
    top: 63%;
    left: 77%;
}

.ig{

    width: 4%;
    height: 8%;
    position:absolute ;
    top: 63%;
    left: 83%;
}

.tw{
        width: 5%;
        height: 10%;
        position:absolute ;
        top: 63%;
        left: 88%;
}
    /*recomendaciones*/

    .recomendaciones{
        
    text-align: center;
    top: 20%;
    font-size: 40px;
    }

    .imgsoat{

        width: 7%;
        height: 13%;
        position:absolute ;
        top: 32%;
        left: 32%;
    }

    .soat{

        width: 30%;
        height: 30%;
        position:absolute ;
        top: 18%;
        left:12%;
        box-shadow: 7px 13px 37px #000;
    }

    .clic{
        color: #ec3333;
    }

    .imgsiata{
        width: 7%;
        height: 13%;
        position:absolute ;
        top: 38%;
        left: 77%;

    }

    .siata{

            width: 30%;
            height: 35%;
            position:absolute ;
            top: 18%;
            left: 55%;
            box-shadow: 7px 13px 37px #000;
    }

    .imglicencia{
        width: 9%;
        height: 14%;
        position:absolute ;
        top: 71%;
        left: 49%;

    }

    .licencia{

            width: 30%;
            height: 30%;
            position:absolute ;
            top: 58%;
            left: 30%;
            box-shadow: 7px 13px 37px #000;
    }

    .videoR{
        
        position:absolute ;
        top: 130%;
        left: 30%;
        box-shadow: 7px 13px 37px rgb(233, 26, 26);

    }

    .textor{
        width: 80%;
        height: 20%;
       position:absolute;
        top: 100%;
        left: 12%;
        font-size: 20px;
    
    
    }
    .tenerencuenta{
        
        position:absolute;
        top: 95%;
        left: 40%;
    }

    /*marcas*/

    .marcas{text-align: center;
        top: 30%;
        font-size: 40px;}

    .y{
        width: 15%;
        height: 15%;
        position:absolute ;
        top: 20%;
        left: 20%;
    }

    .b{
        width: 15%;
        height:15%;
        position:absolute ;
        top: 20%;
        left: 40%;
    }

    .s{
        
            width: 15%;
            height:15%;
            position:absolute ;
            top: 20%;
            left: 60%;
        
    }

    .h{
        width: 15%;
        height:15%;
        position:absolute ;
        top: 20%;
        left: 80%;
    }

    
    .ho{
        width: 15%;
        height:17%;
        position:absolute ;
        top: 45%;
        left: 20%;
    }

    .k{
        width: 15%;
        height:17%;
        position:absolute ;
        top: 45%;
        left: 40%;
    }

    .r{
        
            width: 20%;
            height:20%;
            position:absolute ;
            top: 45%;
            left: 60%;
        
    }

    .v{
        width: 18%;
        height:18%;
        position:absolute ;
        top: 45%;
        left: 80%;
    
}

.grua{
    text-align: center;
    top: 20%;
    font-size: 40px;

}

.textog{

    width: 80%;
    height:18%;
    position:absolute ;
    top: 18%;
    left: 12%;
    font-size: 20px;

}

.asiste{

    width: 20%;
    height:20%;
    position:absolute ;
    top: 35%;
    left: 12%;


}

.max{

    width: 20%;
    height:20%;
    position:absolute ;
    top: 35%;
    left: 43%;

}

.gruasM{

    width: 20%;
    height:20%;
    position:absolute ;
    top: 35%;
    left: 70%;



}